* {
  box-sizing: border-box;
}

:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  max-width: 100%; /* Resim asla ekran genişliğini taşmasın */
  width: 800px; /* İdeal bir genişlik verelim (İsteğe bağlı) */
  display: block; /* Blok element olsun ki margin ile ortalayalım */
  margin: 50px auto; /* Üstten 50px boşluk, sağ-sol otomatik (ORTALAR) */
}

.h1 {
  color: var(--base);
}

body {
  text-align: center;
  background-color: #193549;
  color: white;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 30px;
  overflow: hidden;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}
