*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s ease;
}

.btn{
    padding: 25px;
    border-radius: 10px;
    font-weight: bold;
    font-size:16px ;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, color 0.3s esae;
    text-transform: uppercase;
}
button:hover {
    background-color: red;
    color: white;
}


.btn:active{
    transform: scale(0.95); /* Butonu %95 boyutuna küçültür */

}