@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Inter',sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin:0;
    overflow: hidden;
    background-image: linear-gradient(90deg,#f2382f,#E57529);

}

body.red-bg {
    background-color: red;
}


.search{
    position: relative;
    height: 50px;
}

.search .input{
    font-family: inherit;
    background-color: #fff;
    border: 0;
    font-size: 16px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}

.btn{
    background-color: #fff;
    border: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 24px;
    position: absolute;
    left: 0;
    transition: transform 0.3s ease;
}

.input:focus,
.btn:focus{
    outline: none;
}

.search.active .input{
    width: 200px;
}

.search.active .btn{
    transform: translateX(198px);
}