*{
    box-sizing: border-box;
}

body{
    font-family: "Orbitron", sans-serif;
    background-color: grey;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container{
   background-color: #000;
    width: 400px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}

h1{
    font-size: 50px;
    color: #17D4FE;
    letter-spacing: 5px;
}

