*{
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container{
    background-color: chocolate;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

p{
    margin: 0;
    font-size: 90px;
}

.buttons{
    display: flex; /* butonları yan yana diz */
    gap: 10px; /* butonlar arası boşluk */
}

button{
    width: 100px;
    height: 50px;
    border-radius: 15px;
    border: none;
    box-shadow:  0 4px 10px rgba(0,0,0,0.3);
    font-size: 20px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    
}

button:active {
  transform: scale(0.95); /* tıklayınca küçülme efekti */
}


