@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Moonrocks&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Rubik Moonrocks',cursive;
    display: flex;
    height: 100vh;
    justify-content:center ;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

.bg{
    background: no-repeat center/cover url('https://wallpaperaccess.com/full/3958016.jpg');
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    font-size: 120px;
    color: #0ed80e;
}